.canvas {
	position: absolute;
	background-color: white;
	cursor: inherit;
	z-index: 0;
}

.canvas.active {
	z-index: 1;
}

.canvas.hidden {
	opacity: 0 !important;
}

.canvas.selection {
	z-index: 99;
}
