.canvas,
#background-canvas {
	position: absolute;
	/* top: 0;
  left: 0; */
	background-color: transparent;
	opacity: 0.1;
	cursor: inherit;
	border: 1px solid gray;
}

#background-canvas {
	background-color: white;
	opacity: 1;
}

.canvas.hidden {
	opacity: 0 !important;
}

.canvas.active {
	background-color: rgba(255, 255, 255, 0.1);
	opacity: 1;
}

.canvas.selection {
	z-index: 99;
}
