#layer-manager-container {
	display: flex;
	flex-direction: column;
	height: 100%;

	width: 225px;
	/* min-width: fit-content; */
	padding: 0.5em;
	background-color: rgb(36, 36, 36);
	border: 1px solid rgb(56, 55, 55);
	/* overflow: hidden; */
}

#layers-title {
	margin: 0;
	padding: 0.5em;
}

#layer-list {
	height: 100%;
	overflow-y: auto;
}

#new-layer-button {
	/* height: 100%; */
	padding: 0.1rem 0.5rem;
	background-color: rgb(36, 36, 36);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border: 1px solid rgb(56, 55, 55);
	text-align: center;
}

#new-layer-button:hover {
	background-color: #d1836a;
}

#new-layer-button:disabled {
	background-color: #242424;
	color: gray;
}
