#navbar-container {
	display: flex;
	align-items: center;
	padding: 0.2rem;
	min-height: 3rem;
	height: 3rem;
	border-bottom: 1px solid #d1836a;
	width: 100%;
	white-space: nowrap;
}

#navbar-logo {
	width: 3rem;
	height: 3rem;
	margin-right: 0.5rem;
}

#navbar-container button {
	margin-right: 0.8rem;
	font-size: 1.1em;
	font-weight: 500;
	color: #fdfdfd;
	border-bottom: 2px solid transparent;
	text-decoration: inherit;
	background-color: transparent;
	cursor: pointer;
	border: none;
	transition: border-bottom 100ms;
}

#navbar-container > button:hover {
	color: #d1836a;
	/* border-bottom: 2px solid #d1836a; */
}

#navbar-container > button:last-child {
	margin-right: 0;
}
