#toolbar-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: fit-content;
  display: inline-flex;
  flex-direction: column;
  border-radius: 20px;
  border: 1px solid #646cff;
  background-color: lightgrey;
  padding: 0.5em;
  margin: 0.5em;
  z-index: 100;
}

.toolbar-option {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 0.5em;
  cursor: pointer;
}

.toolbar-option.active {
  outline: 2px solid #7e83da;
  outline-offset: 2px;
  /* outline-width: 3px; */
}

#modes {
  display: inline-flex;
}