#toolbar-container {
  position: fixed;
  bottom: 0;
  width: fit-content;
  transform: translateX(-50%);
  border-radius: 20px;
  border: 1px solid #646cff;
  background-color: lightgrey;
  padding: 0.5em;
  margin: 0.5em;
}

.color-option {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0.5em 0;
  cursor: pointer;
}

.color-option.active {
  outline: 2px solid #7e83da;
  outline-offset: 2px;
  outline-width: 3px;
}

.color-option.red {
  background-color: red;
}

.color-option.green {
  background-color: green;
}

.color-option.blue {
  background-color: blue;
}

.color-option.black {
  background-color: black;
}

.color-option.white {
  background-color: white;
}

.color-option.yellow {
  background-color: yellow;
}

.color-option.cyan {
  background-color: cyan;
}

.color-option.magenta {
  background-color: magenta;
}