#main-content {
  display: flex;
  /*
  4rem is the height of the navbar.
  Be sure to change this value if the navbar height changes.
  Likewise, if this value changes, be sure to change the height of the navbar.
  */
  height: calc(100vh - 4rem);
}

#main-canvas-pane {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex: 3;
  /* height: 100%; */
  width: 100%;
}

#canvas-container {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  /* border: 1px solid #000000; */
}

/* #right-side-pane {
  width: min-content;
} */