#color-wheel-container {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	/* height: 100%; */
	width: 100%;
	margin-bottom: 1em;
}

.color-area {
	outline: 1px solid black;
	border: 3px solid white;
	/* position: absolute; */
}

.thumb {
	outline: 1px solid black;
	border: 3px solid white;
	border-radius: 50%;
	width: 20px;
	height: 20px;
}
