#drawing-toolbar {
  display: flex;
  align-items: center;
  position: absolute;
  top: 10px;
  width: 80%;
  min-height: 50px;
  border-radius: 25px;
  background-color: #303744;
  padding: 0.5em;
  overflow: auto;
  z-index: 100;
}

#colors, #shapes {
  display: inline-flex;
}

#additional-settings {
  display: inline-flex;
}

.color-option, .shape-option {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 0.5em;
  cursor: pointer;
}

.color-option.active, .shape-option.active {
  outline: 2px solid #7e83da;
  outline-offset: 2px;
  outline-width: 3px;
}

.color-option.red {
  background-color: red;
}

.color-option.green {
  background-color: green;
}

.color-option.blue {
  background-color: blue;
}

.color-option.black {
  background-color: black;
}

.color-option.white {
  background-color: white;
}

.color-option.yellow {
  background-color: yellow;
}

.color-option.cyan {
  background-color: cyan;
}

.color-option.magenta {
  background-color: magenta;
}

hr {
  width: 100%;
}