#footer-container {
	display: flex;
	/* justify-content: flex-start; */
	align-items: flex-start;
	padding: 1rem 0 0 8px;
	flex-direction: column;
	/* height: fit-content; */
	/* height: 100%; */
	min-height: fit-content;
	height: 20%;
}

#footer-logo {
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 50%;
}

#site-name {
	font-style: italic;
	font-size: 1rem;
	text-decoration: underline;
	text-align: center;
}

#version {
	font-size: 0.8rem;
	text-align: center;
}

.footer-link {
	width: fit-content;
	color: #4d5b75;
	text-decoration: none;
	font-size: 0.8rem;
	font-style: italic;
}

.footer-link:hover {
	color: #d1836a;
	text-decoration: underline;
}

#footer-links > .footer-link {
	display: block;
}

hr {
	width: 100%;
	/* margin: 0.5rem 0; */
	border: 1px solid #4d5b75;
}
