.react-aria-ColorSlider {
	display: grid;
	grid-template-areas:
		"label output"
		"track track";
	grid-template-columns: 1fr auto;
	gap: 4px;
	max-width: 300px;
}

.react-aria-ColorSlider .react-aria-Label {
	grid-area: label;
}

.react-aria-ColorSlider .react-aria-SliderOutput {
	grid-area: output;
}

.react-aria-ColorSlider .react-aria-SliderTrack {
	grid-area: track;
	border-radius: 4px;
}

.react-aria-ColorSlider[data-orientation="horizontal"] .react-aria-SliderTrack {
	height: 18px;
}