
#canvas-bg {
}

.ideadrawn-canvas {
  position: absolute;
  background-color: transparent;
  opacity: 0.1;
  cursor: crosshair;
  border-radius: 3px;
  border: 1px solid gray;
  /* transform: scale(1); */
}

/* .ideadrawn-canvas:last-child {
  background-color: rgba(255, 255, 0, 0.2);
} */

.ideadrawn-canvas.active {
  background-color: rgba(226, 226, 226, 0.1);
  opacity: 1;
  z-index: 98;
}

.ideadrawn-canvas.selectionMode {
  opacity: 0;
  cursor: default;
}

.ideadrawn-canvas.selectionMode.active {
  opacity: 1;
}

#clear-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;
}