
#canvas-bg {
  width: 100%;
  height: 100%;
  background-color: red;
}

.ideadrawn-canvas {
  position: absolute;
  background-color: transparent;
  opacity: 0.1;
  cursor: crosshair;
  border-radius: 3px;
  border: 1px solid gray;
}

.ideadrawn-canvas.active {
  opacity: 1;
  z-index: 98;
}

.ideadrawn-canvas.selectionMode {
  opacity: 0.5;
  cursor: default;
  z-index: 99;
}