:root {
	--description: lightgray;
}

.desc {
	color: var(--description);
}

.currentFilter {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background: none;
	border: none;
	cursor: pointer;
	padding: 0 10px;
}
.dropdownFilter {
	opacity: 0;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	z-index: 888;
	width: 10rem;
	background: rgba(0, 0, 0, 0.9);
	border: solid 1px rgba(255, 255, 255, 0.2);
	border-radius: 3px;
	padding-block: 10px;
	padding-inline: 1rem;
	padding-inline-end: 0;
	position: absolute;
	transition: all 0.3s ease;
	pointer-events: none;
}

.filter-item {
	width: fit-content;
	background: none;
	border: none;
	padding-block: 5px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.active {
	opacity: 1;
	transform: translateY(10px);
	pointer-events: all;
}
